In [1]:
list_1 =['Aravind',24,'Hyderbad','MBA']
print(list_1)

['Aravind', 24, 'Hyderbad', 'MBA']

In [2]:
type(list_1)

list

In [4]:
tuple_1 =('Aravind',24,'Hyderbad','MBA')
print(tuple_1)
type(tuple_1)

('Aravind', 24, 'Hyderbad', 'MBA')

tuple

###Dictionaries

In [3]:
# if we wanted to assign the elements which are in the from of paird
# such as 'Name' : 'Qualification'
# In sucg cases we use dictionaries
name_qualification={'Aravind':'MBA','Subhan':'B.Tech'}
print(name_qualification)
print(type(name_qualification))
len(name_qualification)

{'Aravind': 'MBA', 'Subhan': 'B.Tech'}
<class 'dict'>

2

In [4]:
# now lets add another element to the dictionarie
# add 'Praveen':'B.sc' to the dictionarie name_qualification
name_qualification.update('praveen':'B.sc')
print(name_qualification)

SyntaxError: invalid syntax (2509976935.py, line 3)

In [5]:
name_qualification.update({'Praveen':'B.sc'})
print(name_qualification)

{'Aravind': 'MBA', 'Subhan': 'B.Tech', 'Praveen': 'B.sc'}

In [6]:
#Now lets add 'Tanuja':'B.tech' to the dictionary
name_qualification['Tanjua'] = 'B.Tech'
print(name_qualification)

{'Aravind': 'MBA', 'Subhan': 'B.Tech', 'Praveen': 'B.sc', 'Tanjua': 'B.Tech'}

In [7]:
name_qualification.keys() #Fetch all keys in the dicitonary

dict_keys(['Aravind', 'Subhan', 'Praveen', 'Tanjua'])

In [8]:
name_qualification.values() #Fetch all values in the dicitonary

dict_values(['MBA', 'B.Tech', 'B.sc', 'B.Tech'])

In [9]:
name_qualification.items() ##Fetch all items/pairs

dict_items([('Aravind', 'MBA'), ('Subhan', 'B.Tech'), ('Praveen', 'B.sc'), ('Tanjua', 'B.Tech')])

In [10]:
name_qualification.get('Subhan')

'B.Tech'

In [16]:
name_qualification.update({'Srujana':'MBA','Harish':'MCA'})
print(name_qualification)

{'Aravind': 'MBA', 'Subhan': 'B.Tech', 'Praveen': 'B.sc', 'Tanjua': 'B.Tech', 'Srujana': 'MBA', 'Harish': 'MCA'}

In [15]:
#Now create a new dictionary with 5 items
#Make sure that there are 2 items with same key but different value
stu_marks={'Pavan':925,'Divya':920,'Harish':780,'Divya':930,'Malika':980}
print(stu_marks)

{'Pavan': 925, 'Divya': 930, 'Harish': 780, 'Malika': 980}

In [17]:
#The Keys have only unique values in dictionaries
#Where in the values can have the duplicates
#Check the functionality of pop() and popitems()
stu_marks.pop('Divya')#pop() function eliminates the pair when you give key as input
print(stu_marks)

{'Pavan': 925, 'Harish': 780, 'Malika': 980}

In [18]:
stu_marks.popitem()
print(stu_marks)#popitem() function delete the last element in the dictionary

{'Pavan': 925, 'Harish': 780}

In [20]:
#create a dictionary studen with keys-Name,Age,Marks and assign some appropraite values
#print all keys,values separately
#print all items
stu_info={'Pavan':25:925,'Divya':22:950}
print(stu_info)

SyntaxError: invalid syntax (2981468154.py, line 4)

In [21]:
stu_info={'Pavan':25:925,'Divya':22:'950'}
print(stu_info)

SyntaxError: invalid syntax (1666479006.py, line 1)

In [24]:
stu_info={'Name':'Pavan','Age':25,'Marks':92}
print(stu_info)

{'Name': 'Pavan', 'Age': 25, 'Marks': 92}

In [25]:
stu_info.keys()

dict_keys(['Name', 'Age', 'Marks'])

In [26]:
stu_info.values()

dict_values(['Pavan', 25, 92])

In [31]:
#create a dictinaory with items Maths:90,Science:85,English:80
#and add a new subject 'History' with marks 80
#update scinece to 89
#delete english subject
marks={'Maths':90,'Science':85,'English':88}
print(marks)

{'Maths': 90, 'Science': 85, 'English': 88}

In [32]:
marks['History']=80
print(marks)

{'Maths': 90, 'Science': 85, 'English': 88, 'History': 80}

In [33]:
marks['Science']=89
print(marks)

{'Maths': 90, 'Science': 89, 'English': 88, 'History': 80}

In [34]:
marks.pop('English')
print(marks)

{'Maths': 90, 'Science': 89, 'History': 80}

In [41]:
# create a dictionary with any three fruits as their keys and prices as values
# print all items in the format Fruit:price
# print the sum of all prices
fruits={'Apple':25,'Orange':20,'grapes':50}
print(fruits)
fruits.values()

{'Apple': 25, 'Orange': 20, 'grapes': 50}

dict_values([25, 20, 50])

In [42]:
sum(fruits.values())

95

In [19]:
# Create a dictionary with two keys name and qualification
# Each key should contain 5 values
# Then print the dictionary
names={'Name':['Pavan','Sarath','Divya','Lohit','Sumair'],
       'Qualification':['B.tech','B.tech','B.com','B.com','M.tech']}
names

{'Name': ['Pavan', 'Sarath', 'Divya', 'Lohit', 'Sumair'],
 'Qualification': ['B.tech', 'B.tech', 'B.com', 'B.com', 'M.tech']}

In [9]:
# Now lets add a new element to the dictionary
#let's add 'Tanuja' and 'B.E' to the dictionary
names['Tanuja']='B.E'
names

{'Name': ['Pavan', 'Sarath', 'Divya', 'Lohit', 'Sumair'],
 'Qualification': ['B.tech', 'B.tech', 'B.com', 'B.com', 'M.tech'],
 'Tanuja': 'B.E'}

In [10]:
names.popitem()
names

{'Name': ['Pavan', 'Sarath', 'Divya', 'Lohit', 'Sumair'],
 'Qualification': ['B.tech', 'B.tech', 'B.com', 'B.com', 'M.tech']}

In [28]:
# Create two complex numbers
# Try to apply all possiblities arthimetic operations on those two complex numbers
# Find the real , imaginary Parts and cojugate of both complex number
z1=complex(2,3)
z2=complex(4,3)
print(z1+z2)
print(z1-z2)
print(z1*z2)
print(z1/z2)
z1.conjugate()

(6+6j)
(-2+0j)
(-1+18j)
(0.68+0.24j)

(2-3j)

In [11]:
import pandas as pd
#lets convert the dictionary into a data frame
df = pd.DataFrame(names)
df

     Name Qualification
0   Pavan        B.tech
1  Sarath        B.tech
2   Divya         B.com
3   Lohit         B.com
4  Sumair        M.tech

#### Sets
- Sets don't allow Duplicates 
- Sets are always with sorting

In [12]:
set_1={9,3,5,7,8,1,2,2,-3}
print(type(set_1))
set_1

<class 'set'>

{-3, 1, 2, 3, 5, 7, 8, 9}

In [15]:
#create another set with a few common elements from set_1 and name it set_2
set_2={-1,-3,5,-7,5,3,7,7,8,9,3,4}
print(type(set_2))
set_2

<class 'set'>

{-7, -3, -1, 3, 4, 5, 7, 8, 9}

In [16]:
set_1.add(14)#here add function is used to add a new element to the set
set_1

{-3, 1, 2, 3, 5, 7, 8, 9, 14}

In [32]:
set_1.intersection(set_2)

{-3, 3, 5, 7, 8, 9}

#### intersection update would replace the first set common elements an second set would remain same
#### Second set would remain same

In [35]:
set_1.intersection_update(set_2)
set_1

{-3, 3, 5, 7, 8, 9}

In [40]:
set_3={81,2,3,4,5,5,61,3,8,4}
set_4={6,2,4,67,2,5,1,43,6,8,}
print(set_3)
print(set_4)

{81, 2, 3, 4, 5, 8, 61}
{1, 2, 67, 4, 5, 6, 8, 43}

In [42]:
set_3.difference(set_4)
set_4

{1, 2, 4, 5, 6, 8, 43, 67}

#### Union

In [71]:
set_3.union(set_4)#combines two sets

{-7, -3, -1, 3, 4, 5, 7, 8, 9}

#### Clear

In [84]:
set_3.clear()#Clear the set elements

In [51]:
set_3

set()

#### Pop

In [85]:
set_4.pop() #pops the first element in the set

3

In [57]:
set_4

{4, 5, 6, 8, 43, 67}

#### Copy

In [68]:
set_4=set_1.copy() #Copy the set to another set
set_4

{-3, 3, 5, 7, 8, 9}

#### Update

In [74]:
set_4.update(set_2) #combines the two sets and update it in one set
set_2

{-7, -3, -1, 3, 4, 5, 7, 8, 9}

#### isdisjoint

In [83]:
set_4.isdisjoint(set_1)# return true is there is no common element in them

False

#### issubset

In [82]:
set_4.issubset(set_1) #return true if the set_1 is a subset of the set_4

False

#### is superset

In [81]:
set_4.issuperset(set_1) # return true if the set_1 is a super set of set_4

True

In [86]:
set_4

{-7, -3, -1, 4, 5, 7, 8, 9}

#### discard

In [91]:
set_1.discard(3)# delete the particular element
set_1

{-3, 5, 7, 8, 9}

In [92]:
set_2.symmetric_difference(set_1)

{-7, -1, 3, 4}