In [2]:
list_1=[1,2,3,4,5,6,7,8,9,10]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### For loop

In [4]:
#We want to fetch every element from list_1 and print the square of it
for i in list_1:
    print("The Square of the Element",i,'is',i**2)

The Square of the Element 1 is 1
The Square of the Element 2 is 4
The Square of the Element 3 is 9
The Square of the Element 4 is 16
The Square of the Element 5 is 25
The Square of the Element 6 is 36
The Square of the Element 7 is 49
The Square of the Element 8 is 64
The Square of the Element 9 is 81
The Square of the Element 10 is 100

In [8]:
#Fetch every element of list_1 and print the square root and cube root of those numbers
for i in list_1:
    print("The Square root",i,'is',i**1/2,'\n',"The Cube root of ",i,'is',i**1/3)

The Square root 1 is 0.5
 The Cube root of  1 is 0.3333333333333333
The Square root 2 is 1.0
 The Cube root of  2 is 0.6666666666666666
The Square root 3 is 1.5
 The Cube root of  3 is 1.0
The Square root 4 is 2.0
 The Cube root of  4 is 1.3333333333333333
The Square root 5 is 2.5
 The Cube root of  5 is 1.6666666666666667
The Square root 6 is 3.0
 The Cube root of  6 is 2.0
The Square root 7 is 3.5
 The Cube root of  7 is 2.3333333333333335
The Square root 8 is 4.0
 The Cube root of  8 is 2.6666666666666665
The Square root 9 is 4.5
 The Cube root of  9 is 3.0
The Square root 10 is 5.0
 The Cube root of  10 is 3.3333333333333335

In [9]:
# Using for loop, fetch the even numbers from list_1
for i in list_1:
    if i%2==0:
        print(i)

2
4
6
8
10

In [10]:
# Using for loop, fetch the odd numbers from list_1
for i in list_1:
    if i%2!=0:
        print(i)

1
3
5
7
9

In [15]:
squares=[]
for i in list_1:
    square=i**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
squares=[]
for i in list_1:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
tup_1=(1,2,3,4,5,6,7,8,9,10)
for i in tup_1:
    if i%2!=0:
        print(i)

1
3
5
7
9

In [23]:
# Create a list with 5 names
# Make sure that atleast 2 names starts with letter 'A'
# Using for loop fetch the names that starts with 'A'

names = ['ananad', 'aurora', 'Shiva', 'Sharat','Sumair']

for name in names:
    if name.startswith('S'):
        print(name)

Shiva
Sharat
Sumair

In [25]:
# using for loop convert the element into  lower case
lower_1=[]
for x in names:
    lower_1.append(x.lower())
print(lower_1)

['ananad', 'aurora', 'shiva', 'sharat', 'sumair']

In [27]:
#let's a create a tuple with few integer and a few string elements
#using for loop fetch integer element only
integer_str=(1,2,3,5,'praveen','shiva')
for i in integer_str:
    if type(i)==int:
        print(i)

1
2
3
5

#### zip

In [1]:
names_1 = ['Anna', 'Anjali', 'Shiva', 'Sharat', 'Praveen']
qualifications=['B.sc','B.tech','B.sc','B.tech','B.sc']

#fetch the name from first list and qualifications from second list and print it simultaneously

for x,y in zip(names_1,qualifications):
    print(x,y)

Anna B.sc
Anjali B.tech
Shiva B.sc
Sharat B.tech
Praveen B.sc

In [3]:
#create dict

dict_1={
    'name':'Pavan',
    'age':23,
    'gpa':8
}
# using for loop print the values of dictionary
for value in dict_1.values():
    print(value)

Pavan
23
8

In [4]:
for key in dict_1.keys():
    print(key)

name
age
gpa

In [5]:
for item in dict_1.items():
    print(item)

('name', 'Pavan')
('age', 23)
('gpa', 8)

#### Assigment Operators

In [6]:
a = 5
b = 6
print(a,b)
a+=b
print(a,b)

5 6
11 6

In [ ]:
#a+=b returns a= a+b and b=b
#a-=b returns a= a-b and b=b
#a*=b returns a= a*b and b=b

In [8]:
# using for loop, find the sum of element inn list_1
total=0 #defining additive identity
list_1=[1,2,3,4,5,6,7,8,9,10]
for x in list_1:
    total +=x
    print(total)
print('total sum is :',total)

1
3
6
10
15
21
28
36
45
55
total sum is : 55

In [10]:
# using for loop, find the product of element inn list_1
total=1 #defining additive identity
for x in list_1:
    total *=x
    print(total)
print('total sum is :',total)

1
2
6
24
120
720
5040
40320
362880
3628800
total sum is : 3628800