In [2]:
# Assume that on the first day 3 students enrolled for data science course
# We want to save that information into some python objects
students =['Vinay','Heba','Pavan']
print("Data Type of students Object is : ",type(students))
print(students)

Data Type of students Object is :  <class 'list'>
['Vinay', 'Heba', 'Pavan']

In [13]:
# on the next day , Saketh took the admission
# Now we have to add 'Saketh ' to the list of 'students'
students.append('Saketh')
print(students)

['Vinay', 'Heba', 'Pavan', 'Saketh']

In [5]:
#Next we have to add shuban and sumair to the 'students' list
students.append('Shuban','Sumair')
print(students)

TypeError: list.append() takes exactly one argument (2 given)

In [10]:
students.append(['Subhan','Sumair'])
print(students)

['Vinay', 'Heba', 'Pavan', 'Saketh', ['Subhan', 'Sumair']]

In [18]:
students.pop() #Using pop() function we can get rid odd the last or recent (?)
print(students)

['Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [16]:
students.extend(['Subhan','Sumair']) #Using extend function, we can add multiple elements to the list at a time
print(students)
#extended two times

['Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair', 'Subhan', 'Sumair']

In [19]:
print(students)

['Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [26]:
# Actually 'Vijay' was the first person to take the admission but we forgot it
# Using insert fuction and proper index add 'Vijay' as the first element in the list
students.insert(0,'Vijay')
print(students)

['Vijay', 'Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [27]:
# But the Vijay mentioned taht we havr to add his full name 
# So we have to first  get rid off the element 'Vijay' from the list of students
students.pop()
print(students)

['Vijay', 'Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan']

In [28]:
#by mistake the  element sumair is gone ,let's add sumair to the list
students.append('Sumair')
print(students)

['Vijay', 'Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [29]:
#lets remove the name 'Vijay' using remove function
students.remove('Vijay')
print(students)

['Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [30]:
#now lets add 'Vijay krishna' to the list as first index
students.insert(0,'Vijay Krishna')
print(students)

['Vijay Krishna', 'Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [31]:
#Copy function create a copy of the list
student_copy =students.copy()
print(student_copy)

['Vijay Krishna', 'Vinay', 'Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair']

In [32]:
#Count function would help us finding the count of the elements in the list
students.count('Pavan')

1

In [33]:
#Index function would fetch the index of an element in the list
students.index('Vinay')

1

In [34]:
students.sort()
print(students)

['Heba', 'Pavan', 'Saketh', 'Subhan', 'Sumair', 'Vijay Krishna', 'Vinay']

In [35]:
students.reverse()
print(students)

['Vinay', 'Vijay Krishna', 'Sumair', 'Subhan', 'Saketh', 'Pavan', 'Heba']

### Differnt functions applicable on lists
- append() function will help in adding one new elements to the list at a time
- pop() function will help in removing the last index of the list
- remove() function will help in removing particular element in the list
- extend() function will help in adding multiple elements to the list
- insert() function will help in adding to insert in particular index
- copy() function will help in making a copy of the list
- count() function will help in counting the element count in the list
- sort() function will help in sorting the list
- reverse() function will help in reversing the list

### Assigment
#### list the movies you watched in the year 2025 in a chronloagical order and also sort them

In [39]:
movies=['Sankrathi ka khiladi','Game Changer','Court']
print(movies)

['Sankrathi ka khiladi', 'Game Changer', 'Court']

In [40]:
movies.append('Kalki 2898ad')
print(movies)

['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Kalki 2898ad']

In [41]:
movies.extend(['Hit 3','Mechanic rocky','Alapula Gymkhana'])

In [42]:
print(movies)

['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Kalki 2898ad', 'Hit 3', 'Mechanic rocky', 'Alapula Gymkhana']

In [43]:
movies.remove('Kalki 2898ad')

In [44]:
print(movies)

['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Hit 3', 'Mechanic rocky', 'Alapula Gymkhana']

In [45]:
movies.insert(4,'Raja shab')
print(movies)

['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Hit 3', 'Raja shab', 'Mechanic rocky', 'Alapula Gymkhana']

In [46]:
movies_copy=movies.copy()
print(movies_copy)

['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Hit 3', 'Raja shab', 'Mechanic rocky', 'Alapula Gymkhana']

In [47]:
movies_copy.sort()
print(movies_copy)

['Alapula Gymkhana', 'Court', 'Game Changer', 'Hit 3', 'Mechanic rocky', 'Raja shab', 'Sankrathi ka khiladi']

In [50]:
movies_copy.reverse()
print(movies_copy)

['Sankrathi ka khiladi', 'Raja shab', 'Mechanic rocky', 'Hit 3', 'Game Changer', 'Court', 'Alapula Gymkhana']

In [51]:
print('The chonological order is : ',movies)

The chonological order is :  ['Sankrathi ka khiladi', 'Game Changer', 'Court', 'Hit 3', 'Raja shab', 'Mechanic rocky', 'Alapula Gymkhana']