In [1]:
cities =('Hyderabad','Vizag','Banglore')
print(cities)
print(type(cities))

('Hyderabad', 'Vizag', 'Banglore')
<class 'tuple'>

- if we use square brakets[], it creates a list
- if we use parenthesis(), it creates a tuple

In [4]:
#Now Add Chennai to the'cities' object
cities.append('Chennai')

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
cities.pop('Vizag')

AttributeError: 'tuple' object has no attribute 'pop'

In [6]:
ciities.remove('Vizag')

NameError: name 'ciities' is not defined

- If an object can be modified then it is called as Mutable object
- Lists can be modified , so the lists are mutable
- Tuples can not be modified, so the tuples are immuutable
- On tuples objects we can only have index() and count()

In [7]:
cities.index('Banglore')

2

In [8]:
cities.count('Vizag')

1

In [14]:
#create a list of first 10 natural numbers
#Then check if that list can be converted into tuple
natural_num=[1,2,3,4,5,6,7,8,9,10]
print(type(natural_num))
print(natural_num)
nat=tuple(natural_num)
print(type(nat))
print(nat)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
#create a tuple with first ten  even number
#then check if the tuple can be converted into list
eve_num=(2,4,6,8,10,12,14,16,18,20)
print(type(eve_num))
print(eve_num)
eve_lis=list(eve_num)
print(type(eve_lis))
print(eve_lis)

<class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
<class 'list'>
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
nat1=[]
for i in range(1,21):
    if i%2==0:
        nat1.append(i)
print(nat1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
#create the list of first 10 natural number using range() function
nat=[]
for i in range(1,11):
    nat.append(i)
print(nat)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
sq=[]
for i in range(1,11):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#create the list of first 10 natural number using range() function
nat_10 =[x for x in range(1,11)]
print(nat_10)
print(type(nat_10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [16]:
#create a list of the square if first time whole numbers
nat_sq=[x**2 for x in range(0,10)]
print(nat_sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
#using list comprehension ,create a list of first 10 even numbers
nat_ev=[x for x in range(2,21,2)]
print(nat_ev)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
nat_eve=[x*2 for x in range(1,11)]
print(nat_eve)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
nat_eve1=[x for x in range(1,21) if x%2==0 ]
print(nat_eve1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
#using list comprehesnsions create a list of first 10 odd numbers
nat_odd=[x for x in range(1,20,2)]
print(nat_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
nat_od=[x for x in range(1,20) if x%2==1]
print(nat_od)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
#create a list of cubes  first 10 evn numbers using list comphrension
cub_eve=[x**3 for x in range (1,21) if x%2==0]
print(cub_eve)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]

In [36]:
#Now Create a list of square root of first 10 odd numbers
sq_odd=[x**(1/2) for x in range(1,21) if x%2!=0]
print(sq_odd)

[1.0, 1.7320508075688772, 2.23606797749979, 2.6457513110645907, 3.0, 3.3166247903554, 3.605551275463989, 3.872983346207417, 4.123105625617661, 4.358898943540674]

In [37]:
lis1= [2,3,4,5,6]
lis2= [1,2,5,7,8,9]
print(lis1+lis2)

[2, 3, 4, 5, 6, 1, 2, 5, 7, 8, 9]

In [42]:
tup1=(1,2,5,7,4)
tup2=(5,2,1,5,8,0,7,6,5)
tup3 =tup1+tup2
print(type(tup3))
print(tup3)

<class 'tuple'>
(1, 2, 5, 7, 4, 5, 2, 1, 5, 8, 0, 7, 6, 5)

In [43]:
#create two list with string objects and concatenate them
str_lis1=["Ongole","Hyderabad","Chennai"]
str_lis2=["Bengaluru","Vijayawada","Rajamahendravaram","Kakinada"]
str_lis=str_lis1+str_lis2
print(str_lis)

['Ongole', 'Hyderabad', 'Chennai', 'Bengaluru', 'Vijayawada', 'Rajamahendravaram', 'Kakinada']

In [48]:
#create a list of number from first 50 natural number which are divisible by 3
nat_50 =[x for x in range(1,51) if x%3==0]
print(nat_50)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

##3The fundamental differnces between the list and tuple 
- Lists are mutable
- Lists have multiple attributes like append(),sort(),clear(), remove(), reverse()
##Tuples
- Tuples are imutable
- tuples only have two attributes like count() and index()

In [3]:
lis_1=[x for x in range(1,21) if x%2==0]
print(lis_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
def isprime(n):
    if n<=1:
        return False
    for i in range(2,int(n**(1/2))+1):
        if n%i==0:
            return False
    return True
lis_2=[x for x in range(1,101) if isprime(x)==True]
print(lis_2)
print(len(lis_2))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25