1Ô∏è‚É£ Create a list of 5 numbers and print the first and the last elements of the list.

2Ô∏è‚É£ Given the list nums = [3, 6, 9, 12], append the number 15 to the list and print the updated list.

3Ô∏è‚É£ Replace the second element "banana" with "mango" in the list: fruits = ["apple", "banana", "orange"].

4Ô∏è‚É£ Create a tuple containing any 4 city names and print its length.

5Ô∏è‚É£ Given the tuple t = (10, 20, 30, 40), print the element at index 1.

6Ô∏è‚É£ Convert the tuple t = (1, 2, 3) into a list and print it.

7Ô∏è‚É£ Create a set of 3 colors and add a new color "blue" to the set.

8Ô∏è‚É£ Given two sets A = {1, 2} and B = {2, 3}, find and print the union of the two sets.

9Ô∏è‚É£ Create a dictionary {"name": "John", "age": 25} and print only the value of "age".

üîü Add a new key "country" with value "India" to the dictionary from Question 9 and print the updated dictionary.

In [13]:
#Create a list of 5 numbers and print the first and the last elements of the list.
lis_1=[1,2,3,4,5]
for i in lis_1:
    if i==1 or i==len(lis_1):
        print(i)

1
5

In [6]:
#Given the list nums = [3, 6, 9, 12], append the number 15 to the list and print the updated list.
lis_num = [3, 6, 9, 12]
lis_num.append(15)
lis_num

[3, 6, 9, 12, 15]

In [38]:
#Replace the second element "banana" with "mango" in the list: fruits = ["apple", "banana", "orange"].
fruits = ["apple", "banana", "orange"]
for i in fruits:
    if i=="banana":
        fruits.remove('banana')
        fruits.insert(1,'mango')
print(fruits)

['apple', 'mango', 'orange']

In [34]:
#Create a tuple containing any 4 city names and print its length.
city_tup=('Ongole','Bengaluru','Jaipuram','Dholakpur',)
len(city_tup)

4

In [39]:
#Given the tuple t = (10, 20, 30, 40), print the element at index 1.
t = (10, 20, 30, 40)
print(t[1])

20

In [43]:
#Convert the tuple t = (1, 2, 3) into a list and print it
t1=(1,2,3)
lis_nu=list(t1)
print(type(lis_nu))
print(lis_nu)

<class 'list'>
[1, 2, 3]

In [47]:
#Create a set of 3 colors and add a new color "blue" to the set.
color={'red','green','white'}
color.add('blue')
print(type(color))
print(color)

<class 'set'>
{'blue', 'red', 'white', 'green'}

In [ ]:
#Given two sets A = {1, 2} and B = {2, 3}, find and print the union of the two sets.