In [2]:
#create a list of any 5 states
states=['Andhra Pradesh','Karnataka','Maharastra','Himachal Pradesh','Madya Pradesh']
print(states)

['Andhra Pradesh', 'Karnataka', 'Maharastra', 'Himachal Pradesh', 'Madya Pradesh']

In [6]:
# Using a for loop, convert every element of 'states' into lower case and store it into another list
lower_state=[]
for i in states:
    i=i.lower()
    lower_state.append(i)
print(lower_state)

['andhra pradesh', 'karnataka', 'maharastra', 'himachal pradesh', 'madya pradesh']

In [7]:
states2=[x.lower() for x in states]
print(states2)

['andhra pradesh', 'karnataka', 'maharastra', 'himachal pradesh', 'madya pradesh']

In [13]:
# Using for loop create multiplication table of 7
n=int(input("Enter the number :"))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number : 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [18]:
#lets count thr vowels in a string
a=input()
word='aeiou'
count=0
for i in a.lower():
    if i in word:
        count+=1
print(count)

 AEIOUHJ

5

In [23]:
#write python code to find sum of number in given list
int_lis=[]
n=int(input("Enter the size of list : "))
for i in range(1,n+1):
    a=int(input('Enter ',i,'number : '))
    int_lis.append(a)
int_lis
for i in int_lis:
    i+=i
print(i)

Enter the size of list :  6

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 4 were given