In [3]:
list_1=[1,2,3,4,5,6,7,8,9]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#i wanted to fetch every element from list_1 and print the square of it
for x in list_1:
    print("the squre of the element",x**2)

the squre of the element 1
the squre of the element 4
the squre of the element 9
the squre of the element 16
the squre of the element 25
the squre of the element 36
the squre of the element 49
the squre of the element 64
the squre of the element 81

In [9]:
#fetch every element of list_1 and print the square root and cube root of those numbers
for x in list_1:
    print("the squre root",x**1/2,"\n cube root", x**1/3)

the squre root 0.5
 cube root 0.3333333333333333
the squre root 1.0
 cube root 0.6666666666666666
the squre root 1.5
 cube root 1.0
the squre root 2.0
 cube root 1.3333333333333333
the squre root 2.5
 cube root 1.6666666666666667
the squre root 3.0
 cube root 2.0
the squre root 3.5
 cube root 2.3333333333333335
the squre root 4.0
 cube root 2.6666666666666665
the squre root 4.5
 cube root 3.0

In [14]:
# using for loop, fetch the even numbers from list_1
for x in list_1:
    if x%2==0:
        print(x)

2
4
6
8

In [13]:
# using for loop, fetch the odd numbers from list_1
for x in list_1:
    if x%2!=0:
        print(x)

1
3
5
7
9

In [16]:
squares=[]
for x in list_1:
    square=x**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
squares=[]
for x in list_1:
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# check whether for loops can applied in tuples
tup_1=(1,2,3,4,5,6,7,8,9)
print(tup_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
for x in tup_1:
    if x%2!=0:
        print(x)

1
3
5
7
9

In [21]:
# create a list with 5 names
# makes sure that atleast 2 names starts with letter 'A'
#using for loop fetch the names that starts with 'A'

names = ['Anna', 'Anjali', 'Shiva', 'Sharat', 'Praveen']

for name in names:
    if name.startswith('S'):
        print(name)

Shiva
Sharat

In [42]:
# using for loop convect the element into complect lower case
lower_1=[]
for x in names:
    lower_1.append(x.lower())
print(lower_1)

['anna', 'anjali', 'shiva', 'sharat', 'praveen']

In [50]:
#let's a create a tuple with few integer and a few string elements
#using for loop fetch integer element only
integer_str=(1,2,3,5,'praveen','shiva')

for i in integer_str:
    if type(i)==str:
        print(i)

praveen
shiva

#zip

In [58]:
names_1 = ['Anna', 'Anjali', 'Shiva', 'Sharat', 'Praveen']
qualifications=['B.sc','B.tech','B.sc','B.tech','B.sc']

#fetch the name from first list and qualifications from second list and print it simultaneously

for x,y in zip(names_1,qualifications):
    print(x,y)

Anna B.sc
Anjali B.tech
Shiva B.sc
Sharat B.tech
Praveen B.sc

In [64]:
#create dict

dict_1={
    'name':'praveen',
    'age':23,
    'gpa':8
}
# using for loop print the values of dictionary
for value in dict_1.values():
    print(value)

praveen
23
8

In [65]:
for key in dict_1.keys():
    print(key)

name
age
gpa

In [66]:
for item in dict_1.items():
    print(item)

('name', 'praveen')
('age', 23)
('gpa', 8)

# Assigment Operators

In [68]:
a = 5
b = 6
print(a,b)
a+=b
print(a,b)

5 6
11 6

In [ ]:
#a+=b returns a= a+b and b=b
#a-=b returns a= a-b and b=b
#a*=b returns a= a*b and b=b

In [72]:
# using for loop, find the sum of element inn list_1

total=0 #defining additive identity

for x in list_1:
    total +=x
    print(total)
print('total sum is :',total)

1
3
6
10
15
21
28
36
45
total sum is : 45

In [75]:
# using for loop, find the product of element inn list_1
total=1 #defining additive identity

for x in list_1:
    total *=x
    print(total)
print('total sum is :',total)

1
2
6
24
120
720
5040
40320
362880
total sum is : 362880